#home-page{
    display: flex;
    justify-content: center;
}
#home-page .main-content{
    max-width: 1280px;
    width: 100%;
}
#home-page .head-contents{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-black);
}
#home-page .head-contents .title{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    margin-left: 15px;
    color: #fff;
}
#home-page .head-contents button{
    border: none;
    font-size: 1em;
    font-weight: 800;
    height: 40px;
    width: 100px;
    padding: 0 1.5em;
    border-radius: 35px;
    margin-right: 15px;
}
#home-page .crud-nav{
    margin-top: 0;
    display: flex;
}
#home-page .crud-nav .nav-title{
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    height: 50px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    color: var(--light-black);
}
#home-page .crud-nav ul{
    list-style: none;
    width: 100%;
    display: flex;
    padding: .8em .5em;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0 0 0 auto;
}
#home-page .crud-nav ul .crud-list{
    height: 100%;
    width: 40%;
    max-width: 200px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}
#home-page .crud-nav ul .crud-list button.default{
    width: 100%;
    max-width: 200px;
    height: 80%;
    padding: 0 .5em;
    border: none;
    border-radius: 35px;
    font-size: 1em;
    font-weight: 800;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#home-page .crud-nav ul .crud-list button.default:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* MEDIA FOR - MD -  */
@media (min-width: 768px) {
    #home-page .crud-nav ul{
        width: 40%;
    }
    #home-page .crud-nav ul .crud-list{
        width: 30%;
    }
}