body{
    background-color: #f0f0f0;
}
#login{
    background-image: linear-gradient(225deg, #FF3CAC 0%, #f01160 50%, #2B86C5 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-content {
    background-color: #fff;
    padding: 1em 1.5em;
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}
h1.head-title{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-block-end: 0.2em;
    color: var(--light-black);
}
.login-text{
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5em;
    text-align: justify;
    font-size: 1em;
}
.form-container{
    padding: .3em 1em 2.5em 1em;
}
.input-field{
    margin: 1em 0;
    position: relative;
}
.input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: .9em;
    color: var(--light-black);
    font-weight: 600;
    transform: translateY(-50%);
    transition: .2s ease;
}
.input-field label.focused{
    top: -15px;
    left: 5px;
    color: var(--pink);
    transform: translateY(0);
}
.input-field input{
    width: 90%;
    padding: 1em 1em;
    margin: .5em 0;
    border: none;
    border: 2px solid var(--light-black) !important;
}
.input-field input:focus-visible{
    outline-color: var(--pink) !important;
}
.submit-btn button.default{
    font-size: .9em;
    font-weight: 900;
    width: 100%;
    padding: .8em 0;
}